body{
    background-color: aquamarine;
    color: #143282;
    font-family: 'Times New Roman', Times, serif;
    
}

#cont{
 background-color: beige;
}

#mkép{
    width: 85%;
    margin-top: 25px;
}

#margin{
    margin-top: 25px;
    margin-right: 80px;
}

#margin2{
    margin-left: 30px;
}
 

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#metro{
    width: 70%;
    height: 70%;
    margin-top: 30px;
   
}

#altsom{
    width: 50%;
    height: 50%;
}

#metabla{
    margin-top: -460px;
}
#pido{
    background-color: aqua;
}

