ul{
   margin-left: 30px;
}

#ang{
    margin-left: 115px;
}

#cliff{
   margin-top: 60px;
}

#a{
   margin-top: 140px;
}

#b{
   margin-top: 480px;
}

#c{
   margin-top: 550px;
}

#nyil{
   width: 50px;
   height: 40px;
}

#dd{
   width: 100%;
   height: 100%;
}