#divek{
    border-style: groove;
    border-color: orange;
    border-left: 0px;
    border-right: 0px;
}
#img{
    width: 380px;
    height: 400px;
}
#idk{
    margin-top: 200px;
    width: 380px;
    height: 400px;
}

#nyil{
    width: 50px;
    height: 40px;
}


