body{
    background-color: grey;
    margin-top: 20px;
}
p {

    margin-right: 60px;
    margin-left: 60px;
}
#kép{
    width: 100%;
    height: 100%;
}
#m{
  margin-left: 40px;
  margin-right: 15px;
}
#levikep{
  width: 400px;
  height: 400px;
}
#container{
  background-color: aliceblue;
}