body{
    background-color: grey;
    margin-top: 20px;
}
p {

    margin-right: 60px;
    margin-left: 60px;
}
#mkép{
    width: 80%;
}
#m{
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 15px;
}
#mark{
  margin-top: 20px;
  margin-bottom: 20px;
}
#kép{
  width: 40%;
}
#levikep{
  width: 400px;
  height: 400px;
}
#container{
  background-color: aliceblue;
}